#browserslist 配置参考：https://github.com/browserslist/browserslist
#vueCLI的浏览器兼容里有说：这个值会被 @babel/preset-env（将es6转为es5) 和 Autoprefixer(添加浏览器厂商前缀) 用来确定需要转译的 JavaScript 特性和需要添加的 CSS 浏览器前缀。

#兼容到超过百分之1的用户使用的浏览器
#> 1%
#兼容到最后的两个版本
#last 2 versions
#只要是没死的浏览器
#not dead

Android >= 4.0
iOS >= 8
